/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Meyer reset above */

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: var(--flair-color);
    text-decoration-thickness: 3px;
}

:root {
    font-family: "Roboto", system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
    --light-text: white;
    --dark-text: black;
    --back-color: #E2E8F0;
    --shadow-color: #b5b7bd;
    --header-color: white;
    --flair-color: #CF742F;
    --sidebar-color: black;

}

body {
    display: grid;
    grid: 1fr 5fr / clamp(10rem, 15vw, 15rem) 1fr;
    height: 100vh;
}

.bold-font {
    font-weight: 800;
}

.header {
    color: var(--dark-text);
    padding: 1vw;
    grid-column: 2;
    background-color: var(--header-color);
    box-shadow: 5px 5px 5px var(--shadow-color);
    z-index: 1;
}

.header-top {
    display: grid;
    grid: 1fr / minmax(3rem, 8vw) 1fr repeat(3, minmax(2rem, 20vw));
    margin-bottom: min(3vw, 1.5rem);
}

.header-bottom {
    display: grid;
    grid: 1fr / 6rem 1fr repeat(3, 8rem);
    align-items: center;
    gap: max(1rem, 0.5vw);
}

input {
    background-color: var(--back-color);
    border-radius: 20px;
    border: none;
    align-self: center;
    height: 1.5rem;
    width: clamp(15rem, 40vw, 40rem);
    margin-left: 1rem;
}

.new,
.upload,
.share {
    justify-self: center;
    color: var(--light-text);
    padding: max(0.8rem, .8vw) max(1.5rem, 1.5vw);
    background: linear-gradient(310deg, var(--sidebar-color) 65%, var(--flair-color));
    border-radius: 15rem;
    width: 6ch;
    text-align: center;
}

.new {
    justify-self: right;
}

.upload {
    justify-self: center;
}

.share {
    justify-self: left;
}

.sidebar {
    padding: clamp(0.1rem, 1vw, 1rem);
    background: linear-gradient(285deg, var(--sidebar-color) 65%, var(--flair-color));
    color: var(--light-text);
    grid-column: 1;
    grid-row: 1 / 3;

    display: grid;
    grid: 100px repeat(2, minmax(15rem, 35vh)) / 50px 1fr;
}

.sidebar-top {
    display: grid;
    grid: repeat(6, 1fr) / 40px 1fr;
    margin-bottom: 3rem;
    grid-column: span 2;
}

.sidebar-bottom {
    display: grid;
    grid: repeat(3, 1fr) / 40px 1fr;
    grid-column: span 2;
    align-self: start;
    gap: 3vh 0ch;
}

.container {
    color: var(--dark-text);
    padding: 2vw;
    background-color: var(--back-color);

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2rem min-content;
}

.projects-header {
    height: 2rem;
}

.content {
    grid-area: 2 / 1 / 3 / 2 ;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 30vw));
    grid-template-rows: repeat(auto-fill, minmax(320px, 30vh));
    gap: 2vw;
}

.content-block {
    background-color: var(--header-color);
    color: var(--dark-text);
    border-radius: 10px;
    padding: 1vw;
    border-left: 1vw solid var(--flair-color);
    display: grid;
    grid-template-columns: 3fr repeat(3, 1fr);
    grid-template-rows: 1fr minmax(15rem, 3fr) 1fr;
}

.content-block:hover {
    box-shadow: 2px 2px var(--sidebar-color);
}

.content-header {
    align-self: center;
}

.content-text {
    grid-column: span 4;
    overflow: hidden;
}

.project-icons {
    grid-column: 2 / 3;
    display: block;
}

.info {
    color: var(--dark-text);
    grid-area: 1 / 2 / 3 / 3 ;

    display: grid;
    grid-template-rows: 2rem min-content 2rem min-content;
}

.announcements-header {
    grid-area: 1 / 1;
    margin-left: 3vw;
}

.announcements {
    grid-area: 2 / 1;
}

.trending {
    grid-area: 4 / 1;
    grid-template-columns: 20% 1fr;
    gap: 1.5rem 0rem;
    align-items: center;
}

.trending-header {
    grid-area: 3 / 1;
    margin-left: 3vw;
}

.announcements,
.trending {
    background-color: var(--header-color);
    display: grid;
    margin-left: 3vw;

    margin-bottom: 5vh;
    border-radius: 10px;
    padding: 2vw;
}

.announcement-1,
.announcement-2,
.announcement-3 {
    margin-bottom: 0.5ch;
}

.announcement-2,
.announcement-3 {
    padding-top: 2vw;
}

.announcement-1-content,
.announcement-2-content {
    padding-bottom: 2vw;
    border-bottom: 1px solid var(--shadow-color);
}

.user-tag {
    color: var(--flair-color);
    font-style: italic;
}

/* icons */

.dashboard-icon {
    background: url(icons/dashboard.svg) no-repeat;
}

.home-icon {
    background: url(icons/home.svg) no-repeat center;
}

.profile-icon {
    background: url(icons/profile.svg) no-repeat center;
}

.messages-icon {
    background: url(icons/messages.svg) no-repeat center;
}

.history-icon {
    background: url(icons/history.svg) no-repeat center;
}

.tasks-icon {
    background: url(icons/tasks.svg) no-repeat center;
}

.communities-icon {
    background: url(icons/communities.svg) no-repeat center;
}

.settings-icon {
    background: url(icons/settings.svg) no-repeat center;
}

.support-icon {
    background: url(icons/support.svg) no-repeat center;
}

.privacy-icon {
    background: url(icons/privacy.svg) no-repeat center;
}

.search-icon {
    background: url(icons/search.svg) no-repeat right;
}

.notifications-icon {
    background: url(icons/notifications.svg) no-repeat right;
}

.fav-icon {
    background: url(icons/fav.svg) no-repeat right;
    grid-column: 2 / 3;
}

.watch-icon {
    background: url(icons/watch.svg) no-repeat center;
    grid-column: 3 / 4;
}

.share-icon {
    background: url(icons/share.svg) no-repeat left;
    grid-column: 4 / 5;
}

.user {
    background: url(users/user.svg) no-repeat center;
    height: clamp(55px, 10vw, 65px);
    width: clamp(55px, 10vw, 65px);
    border: 2px solid black;
    border-radius: 100%;
    justify-self: right;
}

.sml-user {
    background: url(users/sml-users/user.svg) no-repeat center;
    justify-self: center;
}

.username {
    align-self: center;
}

.user-1 {
    background: url(users/sml-users/user-1.svg) no-repeat center;
    border: 2px solid black;
    border-radius: 100%;
}

.user-2 {
    background: url(users/sml-users/user-2.svg) no-repeat center;
    border: 2px solid black;
    border-radius: 100%;
}

.user-3 {
    background: url(users/sml-users/user-3.svg) no-repeat center;
    border: 2px solid black;
    border-radius: 100%;
}

.user-4 {
    background: url(users/sml-users/user-4.svg) no-repeat center;
    border: 2px solid black;
    border-radius: 100%;
}

.sml {
    height: clamp(30px, 5vw, 35px);
    width: clamp(30px, 5vw, 35px);
    border: 2px solid black;
    border-radius: 100%;
}

/* sidebar */

.dashboard-icon,
.dashboard {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.dashboard {
    margin-top: 1.2rem;
    margin-left: 0.5rem; 
}

.home,
.profile,
.messages,
.history,
.tasks,
.communities,
.settings,
.support,
.privacy {
    align-self: center;
}